.bg-green {
    background-color: #b1dfbb;
}

.bg-yellow{
    background-color: #ffc107;
}

.down-20 {
    position: relative;
    bottom: -20px;
}

.product-names {
    font-size: 22px;
    background-color: lightseagreen;
}

.top-row-products, .bottom-row-products {
    padding-top: 30px;
}

.cat-container, .dog-container {
    padding-top: 80px;
}


a {
    text-decoration: none;
}

.harness-title {
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.star {
    color: gold;
}

.price-font {
    font-weight: 500;
    font-size: 18px;

}

.price-value {
    font-weight: 900;
    font-size: 18px;
    color: red;
}

.harness-colors, .product-detail-description {
    padding-top: 30px;
}


.size-of-product {
    font-weight: 400;
}

.product-size-font {
    font-weight: 100;
}

.size-button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
.color-button{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    font-size: 12px;
}


.selected-button {
    background-color: orange;
}

.quantity-button {
    position: absolute;
    top: 30%;
    background-color: white;
    color: black;
    border: 1px solid #e7e7e7;
    vertical-align: middle;
    display: block;
    justify-content: center;

}

/*.add-to-cart-button {*/
    /*position: absolute;*/
    /*top: 70%;*/
    /*background-color: darkorange;*/
    /*color: white;*/
    /*border: 1px solid #e7e7e7;*/
    /*vertical-align: middle;*/
    /*display: block;*/
/*}*/

.grey-box{
    display: flex;
    text-align: center;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: lightgray;
    justify-content: center;
}

.shopping-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 40px;
    padding-top: 20px;
}

.shopping-cart-details {
    padding-top: 50px;
}

.product-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.shopping-cart-product-size-font {
    float: left;
    padding-right: 30px;
}

.product-color {
    float:left;
    padding-right: 30px;
}


.product-price {
    font-size: 30px;
    padding-top: 0px;
    color: red;
}

.harness-size{
    float: left;
    padding-right: 40px;
}

.shopping-cart-color {
    float: none;
}

.shopping-cart-size {
    float: none;
}

#totalPrice {
    border-style: solid;
    border-width: 1px;
    border-color: #4e555b;
}